.bg-image{
background-image: url("https://i.pcmag.com/imagery/roundups/00DKaTkOIH7Z34XdzIgHtH9-8..v1569492690.jpg");
width: 1519px;
height: 93vh;
border-image-repeat: 0;
background-size: cover;
background-position: center;
}
